<section class="py-2">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img
          class="card-img-top mb-5 mb-md-0"
          [src]="product.thumbnail"
          alt="{{ product.title }}"
        />
      </div>
      <div class="col-md-6">
        <h1 class="display-5 fw-bolder">{{ product.title }}</h1>
        <div class="fs-5">
          <span class="text-decoration-line-through text-danger"
            >${{
              product.price + product.price * product.discountPercentage
                | number : "1.0-0"
            }}</span
          >
          <span> ${{ product.price }}</span>
        </div>

        <!-- <span class="text-muted">{{ product.rating }}</span> -->
        <div class="star-ratings">
          <div class="fullStar" [style]="{'width':rating}">
            <span>★★★★★</span>
          </div>
          <div class="emptyStar">
            <span>★★★★★</span>
          </div>
        </div>

        <p class="lead my-3">{{ product.description }}</p>
        <span class="lead">Brand : {{ product.brand }}</span>
        <div class="d-flex my-3">
          <input
            class="form-control text-center me-3"
            id="inputQuantity"
            type="num"
            value="1"
            style="max-width: 3rem"
          />
          <button class="btn btn-outline-dark flex-shrink-0" type="button">
            <i class="bi-cart-fill me-1"></i>
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
